<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">
    <insert id="insert" parameterType="teamDto">
        INSERT INTO team (teamname, main, top, mid, bottom, jungle, support, win, lose, regdate)
        VALUES (#{teamname, jdbcType=VARCHAR}, #{main, jdbcType=VARCHAR}, #{top, jdbcType=VARCHAR}, #{mid, jdbcType=VARCHAR}, #{bottom, jdbcType=VARCHAR}, #{jungle, jdbcType=VARCHAR}, #{support, jdbcType=VARCHAR}, #{win, jdbcType=INTEGER}, #{lose, jdbcType=INTEGER}, sysdate())
    </insert>
</mapper>