<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">
    <!--팀창설-->
    <insert id="insert" parameterType="teamDto">
        INSERT INTO team (teamname, main, top, mid, bottom, jungle, support, win, lose, regdate)
        VALUES (#{teamname, jdbcType=VARCHAR}, #{main, jdbcType=VARCHAR}, #{top, jdbcType=VARCHAR}, #{mid, jdbcType=VARCHAR}, #{bottom, jdbcType=VARCHAR}, #{jungle, jdbcType=VARCHAR}, #{support, jdbcType=VARCHAR}, #{win, jdbcType=INTEGER}, #{lose, jdbcType=INTEGER}, sysdate())
    </insert>
    <!--나의 팀 검색-->
    <select id="myteam" parameterType="String" resultType="teamDto">
        SELECT * from team where top=#{lolid} or mid=#{lolid} or bottom=#{lolid} or jungle=#{lolid} or support=#{lolid} or main=#{lolid}
    </select>
    <!--팀 탈퇴-->
    <update id="secession" parameterType="teamDto">
        update team
        <set>
            <if test="top != null">top=NULL ,</if>
            <if test="mid != null">mid=NULL ,</if>
            <if test="bottom != null">bottom=NULL ,</if>
            <if test="support != null">support=NULL ,</if>
            <if test="jungle != null">jungle=NULL </if>
        </set>
        WHERE num=#{num}
    </update>
    <!--팀 해체-->
    <delete id="dismantling" parameterType="int">
      DELETE from team where num=#{number}
    </delete>

</mapper>